<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <link th:href="@{/css/styles.css}" th:rel="stylesheet" />
</head>
<body>
<nav th:insert="fragments.html :: navbar"></nav>

<form th:action="@{/admin/deleteUser}" th:method="post" class="ff2">
    <input type="text" th:value="${username}" name="username" placeholder="Username">
    <input type="submit" value="Удалить"/>
</form>
<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>